
<!-- 1) Búsqueda -->
<form [formGroup]="form" class="search-form">
  <input formControlName="name" placeholder="Buscar personaje..." />
</form>

<!-- 2) Botones de filtro -->
<div class="filter-buttons">
  <button
    type="button"
    (click)="setFilter('')"
    [ngClass]="{ active: statusFilter === '' }"
  >
    Todos
  </button>
  <button
    type="button"
    (click)="setFilter('Alive')"
    [ngClass]="{ active: statusFilter === 'Alive' }"
  >
    Vivos
  </button>
  <button
    type="button"
    (click)="setFilter('Dead')"
    [ngClass]="{ active: statusFilter === 'Dead' }"
  >
    Muertos
  </button>
</div>

<div class="cards-container">
  <app-character-card
    *ngFor="let c of characters | statusFilter: statusFilter"
    [character]="c"
  ></app-character-card>
</div>

